<!DOCTYPE html>
<html>
  <head>
    <title>Private Events!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <p class="py-2 d-none d-md-inline-block"> <%= link_to 'Home', users_path %></p>
        <% if current_user %>
        <p class="py-2 d-none d-md-inline-block">User is: <%= current_user.name %> </p>
        <p class="py-2 d-none d-md-inline-block"> <%= link_to "Log Out", log_out_path %></p>
        <% else %>
        <p class="py-2 d-none d-md-inline-block"><%= link_to "Sign_in", signin_path %></p>
        <p class="py-2 d-none d-md-inline-block"><%= link_to "Sign Up", new_user_path %></p>
        <% end %>
      </div>
    </nav>
  <%= yield %>
  </body>
</html>
